.headerOut{
  margin-left: 0px;
}
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 62px;
  background: #092c3e;
  border-radius: 0px;
  box-shadow: 0px 0px 7px #333a47, 0px 0px 2px #333a47;
}
.header img{
  position: absolute;
  top: 7px;
  left: 3%;
  width: 100%px;
  height: 53px;
}
.header :link{
  text-decoration: none ;
  font-size: 35px;
}

.header .btn-group :link{
  text-decoration: none;
}
.header .btn-group {
  position: absolute;
  top: 3px;
  left: 10%;
  width: 70%;
  height: 60px;
  display: flex;
  align-items: left;
  font-size: 16px;
  line-height: 26px;
  opacity: 1;
}
.header .btn-group button {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(226, 233, 245);
  background: transparent;
  border-radius: 0px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 700;
  width: calc(10%);
}
.header .btn-group button:hover {
  color: rgb(210, 219, 235);
  background: rgb(41, 68, 116);
}
.header .btn-group 
button:focus,button:visited {
  color:  #DF5173FF;
  font-weight: 600;
}


body{
  margin: 0;
  margin-right: 0px;
  background-color: rgb(221, 215, 215);
  margin-top: 0px;
  margin-bottom: 0px;
  background: #F9F9FA;
}

.pageMain{
  position: absolute;
  top: 100px;
  left: 8.5%;
  width: calc(73.5%);
  height: 100%px;
  background: #FFFFFFFF;
  border-radius: 6px;
  box-shadow: 0px 0px 7px #333a47, 0px 0px 2px #333a47;
  padding-left: 5%;
  padding-top: 3%;
  padding-right: 5%;
  padding-bottom: 3%;
}
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  display: inline-block;
  padding: 7px 14px;
  border-radius: 4px;
  background-size: 100%;
  background-position: 0%;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
  background-color: #019160;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.header label{
  padding-top: 20px;
  padding-right: 20px;
  display: flex;
  float: right;
}
.header input[type="checkbox"] {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}
.check{
  position:relative;

  display: block;
  width:40px;
  height: 20px;
  background: white;
  cursor: pointer;
  border-radius: 20px;
  overflow:hidden;
  transition: ease-in 0.5s;
}
.header input[type="checkbox"]:checked ~ .check{
  background: #092c3e;
  box-shadow: 0 0 0 2px white;
}
.check:before{
  content: ' ';
  position: absolute;
  top: 2px;
  left: 2px;
  background: #092c3e;
  width: 16px;
  height: 16px;
  border-radius: 50% ;
  transition: 0.5s;
}

.check:after{
  content: ' ';
  position: absolute;
  top: 2px;
  right: 2px;
  background: white;
  width: 16px;
  height: 16px;
  border-radius: 50% ;
  transition: 0.5s;
}
