
.header-dark {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 62px;
    background: rgb(27, 26, 26);
    border-radius: 0px;
    box-shadow: 0px 0px 3px #b6bbc7, 0px 0px 2px #989ba0;
}
  .header-dark img{
    position: absolute;
    top: 7px;
    left: 3%;
    width: 100%px;
    height: 53px;
  }
  .header-dark :link{
    text-decoration: none ;
    font-size: 35px;
  }
  
  .header-dark .btn-group :link{
    text-decoration: none;
  }
  .header-dark .btn-group {
    position: absolute;
    top: 3px;
    left: 10%;
    width: 70%;
    height: 60px;
    display: flex;
    align-items: left;
    font-size: 16px;
    line-height: 26px;
    opacity: 1;
  }
  .header-dark .btn-group button {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(226, 233, 245);
    background: transparent;
    border-radius: 0px;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 700;
    width: calc(10%);
  }
  .header-dark .btn-group button:hover {
    color: rgb(210, 219, 235);
    background: rgb(88, 93, 102);
  }
  .header-dark .btn-group 
  button:focus,button:visited {
      color:  #DF5173FF;
      font-weight: 600;
  }

  .pageMain-dark{
    position: absolute;
    top: 100px;
    left: 8.5%;
    width: calc(73.5%);
    height: 100%px;
    background: #303030;
    border-radius: 6px;
    box-shadow: 0px 0px 4px hsl(220, 6%, 50%), 0px 0px 2px #101111;
    color: white;
    padding-left: 5%;
    padding-top: 3%;
    padding-right: 5%;
    padding-bottom: 3%;
  }

  .header-dark label{
    padding:20px;
    display: flex;
    float: right;
  }
  .header-dark input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
  }
  .check{
    position:relative;
  
    display: block;
    width:40px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 20px;
    overflow:hidden;
    transition: ease-in 0.5s;
  }
  .header-dark input[type="checkbox"]:checked ~ .check{
    background: #092c3e;
  }
  .check:before{
    content: ' ';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #092c3e;
    width: 16px;
    height: 16px;
    border-radius: 50% ;
    transition: 0.5s;
  }
  
  .check:after{
    content: ' ';
    position: absolute;
    top: 2px;
    right: 2px;
    background: white;
    width: 16px;
    height: 16px;
    border-radius: 50% ;
    transition: 0.5s;
  }
.pageMain-dark button{
  background-color: rgb(15, 55, 82);
}
.pageMain-dark .table-list{
  background-color: rgb(133, 171, 243);
}
.pageMain-dark .table-list th{
  color: aliceblue;
}
.pageMain-dark #input{
  background-color: rgb(63, 62, 62);
  border: 1px solid rgb(229, 233, 229);
  color: #fff;
}