
.AppLogin {
    height: 100vh;
    display: flex;
    align-items:  center;
    justify-content: center;
    background-image: url("https://wallpaperaccess.com/full/4334829.jpg");
    background-size: cover;
    background-position: center center;
}

form {
    display: block;
    position: relative;
}
form:after{
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    opacity: 0.6;
    background-color: #121941;
    border-radius: 20px;
}

form .form-inner{
    border-radius: 8px;
    position: relative;
    display: block;
    padding: 30px;
    z-index: 2;
}
form .form-inner h2{
    color: rgb(175, 162, 162);
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}
form .form-inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner .form-group label {
    display: block;
    color: rgb(175, 162, 162);
    font-size: 15px;
    margin-bottom: 5px;
    transition: 0.4s;
    padding-top: 5px;
}

form .form-inner .form-group input {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    display: block;
    width: 90%;
    padding: 10px 15px;
    background-color: #F8F8F8;
    border-radius: 15px;
    transition: 0.4s;
}
form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}
form .form-inner input[type="submit"] {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 15px;
    background-size: 200%;
    background-position: 0%;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
    background-image: linear-gradient(to right,#0c723f 50%, #19b667 50%,#043a1b);
}
form .form-inner input[type="submit"]:hover {
    background-position: 100% 0%;
}
.form-inner .error {
    padding-top: 3px;
    color: #b94416;
    font-size: 15px;
    padding-bottom: 10px;
}
.form-inner .submitt {
    margin-left: 110px;
}