.queryBox{
    margin-top: 1%;
    margin-bottom: 2%;
    display:inline-flex;
    position: relative;
}
.queryBox label{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    white-space: pre;
    margin-right: 1%;
    font-size: medium;
}
.doanhthu{
    margin-top: 5%;
}
input{
    width: 60%;
    height: 10%;
}