.queryBox{
    margin-top: 10px;
    display:inline-flex;
}
.queryBox label{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    white-space: pre;
    margin-left: 10px;
    font-size: medium;
}
.doanhthu{
    margin-top: 15px;
}
input{
    width: 60%;
}